// Navigation code here
.navbar {

    max-width: 800px;
    margin: 0 auto;
    //coontainer class has the same style
    text-align: center;
    h2 {
        margin: 2%;
    }//end of h2
    a {
        font-color:@river-bend;
        font-size: 1.5rem;
        margin: 1%;
    }//links
}//end of navigation